<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preview Image WebSocket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <!-- jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        document.addEventListener('DOMContentLoaded', () => {
            const video = document.getElementById('videoElement');
            video.src = "/preview_video_feed";
            video.load();
        });
    </script>
    <style>
        #videoElement{
            width: 12rem;
            height: 12rem;
        }
    </style>
</head>
<body>
    <h1>Preview Image WebSocket Example</h1>
    <video id="videoElement" style="display:none;" autoplay playsinline></video>
    
</body>
</html>
